/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #343a40;
    color: white;
    margin-top: 2rem;
}

footer p {
    text-align: center;
    color: white;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.2rem;
}

.social-media a:hover {
    color: #ffc107;
}
